.Tags{
  margin : 7px;
  cursor: pointer !important;
  /* color:black; */
  color : gray;
}

.Tags :hover{
  cursor: pointer !important;
}

.TagSelected{
  background-color:#2196f3 !important;
  color: white;
  font-weight: 600 !important;
  font-family: "Segoe UI";
}