/* .MainContent{
  display : flex;
  margin-top : 200px;
  justify-content: space-around;
} */

.MainContent {
  margin:  170px 150px 0px;
}

.MovieGenreBtns{
  display: flex;
  /* position: absolute;
  top : 20%;
  left : 50%; */
  /* margin-top:150px; */
  margin-right : 25px !important;
  justify-content: space-between;
}

.AllBtns{
  display: flex;
}

.sortAndPage{
  display: flex;
  justify-content: space-around;
}

.TagLine{
    font-size: 35px;
    margin-bottom: 65px;
    font-family: 'Dancing Script', cursive;
}