/* .MainContent{
  display : flex;
  margin-top : 200px;
  justify-content: space-around;
} */

.MainContent {
  margin:  200px 150px 0px;
}

.MovieGenreBtns{
  display: flex;
  position: absolute;
  top : 15%;
  left : 50%;
}