/* .MainContent{
  display : flex;
  margin-top : 200px;
  justify-content: space-around;
} */

.MainContent {
  margin:  170px 150px 0px;
}

.MovieGenreBtns{
  display: flex;
  /* position: absolute;
  top : 20%;
  left : 50%; */
  /* margin-top:150px; */
  margin-right : 25px !important;
  margin-bottom: 20px;
  justify-content: flex-end;
}